{% extends 'base.html.twig' %}

{% block title %}Edit UrlBase{% endblock %}

{% block body %}
    <h1>Edit UrlBase</h1>

    {{ include('url_base/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('url_base_index') }}">back to list</a>

    {{ include('url_base/_delete_form.html.twig') }}
{% endblock %}
