{% extends 'base.html.twig' %}

{% block title %}New UrlBase{% endblock %}

{% block body %}
    {% if app.user %}%}
    <h1>Create new UrlBase</h1>

    {{ include('url_base/_form.html.twig') }}

    <a href="{{ path('url_base_index') }}" class="btn btn-secondary" >Back to list</a>
    {%  endif %}
{% endblock %}
