{% extends 'base.html.twig' %}

{% block title %}Generate new Url{% endblock %}

{% block body %}
    <h1>Generate new Url</h1>

    {{ include('url_base/_form.html.twig') }}

    <a href="{{ path('url_base_index') }}">Back to list</a>
{% endblock %}
