{% extends 'base.html.twig' %}

{% block title %}Redirected Urls{% endblock %}

{% block body %}
    <h1>All your redirected urls</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Your Url </th>
                <th>Generated Url</th>
            </tr>
        </thead>
        <tbody>
        {% for url_redirect in url_redirect %}
            <tr>
                <td>{{ url_redirect.id }}</td>
                <td>{{ url_redirect.baseUrl }}</td>
                <td>{{ url_redirect.generatedUrl}}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">No records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('url_redirect_new') }}">Generate new url</a>
{% endblock %}