{% extends 'base.html.twig' %}

{% block title %}Generate new Url{% endblock %}

{% block body %}
    <h1>Paste your url to generate encrypted version</h1>

    {{ include('url_redirect/_form.html.twig') }}

{% endblock %}
