{% extends 'base.html.twig' %}

{% block title %}Generated Url{% endblock %}

{% block body %}
<h1>Generated Url</h1>

<table class="table">
    <thead>
    <tr>
        <th>GeneratedUrl</th>
    </tr>
    </thead>
    <tbody>
    {%  for url_base in url_generator %}
        <tr>
            <td>{{ url_base.id }}</td>
            <td>
            {{ url_base.generatedUrl|url_encode}}
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="4">Oops, something goes wrong!</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}