{% extends "base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    <p>
        {{ 'resetting.check_email'({'%tokenLifetime%': tokenLifetime})|nl2br }}
    </p>
{% endblock %}